<div id="container-exp">
	<div id="trial">
<form>
	<p> Experiment </p>
	<p id="condition">Test Condition</p>
	<p id="text">Test Text</p>
	<p id="question">Test Question</p>
	<div id="radio" style="visibility:hidden height:0px">Radio</div>
	<div id="check" style="visibility:hidden height:0px">Checkbox</div>
	<div id="free" style="visibility:hidden height:0px">Free text</div>
	<button type="button" onclick="newValue()">Next</button>
</form></div></div>
<script src="/Users/val/Documents/UROP-Fall2015/urop/static/js/exp.js"></script>